.artwork-dashboard {
  display: flex;
  flex-direction: column;
}

.modification-buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 2em;
  outline: 1px solid orange;
}

.modification-buttons button {
  margin: 0.5em;
}
