.user-profile {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: rgb(233, 233, 233);
  border-radius: 9px;
}

.user-profile p span {
  font-weight: bold;
}

.user-profile-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 1em;
  column-gap: 1em;
  margin-top: 2em;
}
